/* Basics START */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
        
body {
  background-image: url(images/background_a.jpeg);
  background-size: cover;
  font-family: 'Bebas Neue', cursive;
  font-size: x-large;
  font-weight: lighter;
  height: 100vh;
}

/* Basics END */
/* Navbar & Content START */
.container {
  width: 80%;
  height: 40px;
  position: relative;
  top: 40px;
  margin: 0 auto;
}

#logo {
  position: relative;
  margin-top: 170px;
  color: #ffffff;
}

.hero h1 {
  margin-top: 30px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: 	#888888;
  font-family: 'Bebas Neue', cursive;
  font-size: x-large;
  font-weight: bolder;
}

 span {
  color: #0047AB;
  font-family: 'Bebas Neue', cursive;
  font-size: 70px;
  letter-spacing: normal;
}

.button {
  font-family: 'Bebas Neue', cursive;
  font-weight: normal;
  font-size: 12px;
  margin-top: 40px;
}

.btn1:hover {
  text-decoration: none;
  color: #ffffff;
}

.btn2:hover {
  text-decoration: none;
  color: #000000;
}

.btn1 {
  padding: 12px 25px;
  background: #0047AB;
  text-decoration: none;
  color: #ffffff;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.btn2 {
  padding: 12px 25px;
  background: #ffffff;
  text-decoration: none;
  color: #000000;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.hero p {
  margin-top: 15px;
  padding-left: 1px;
}
/* Navbar & Content END */

    
