/* Basics START */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    background-image: url(images/background_b.jpg);
    background-size: auto;
    font-family: 'Bebas Neue', cursive;
    font-size: x-large;
    font-weight: lighter;
    height: 100vh;
}
/* Basics END */
/* Navbar START */
.navbar {
  overflow: hidden;
  position: bottom;
  bottom: 15px;
  width: auto;
  padding-top: 15px;
  font-size: 15px;
  float: inherit;
  display: block;
  margin-top: 100px;
  box-sizing: border-box;
  height: 250px;
  background-color: #0047AB;
  clip-path: ellipse(93% 100% at 31.08% 100%);
  box-shadow:
  0px 0px 7.8px rgba(0, 0, 0, 0.059),
  0px 0px 17.2px rgba(0, 0, 0, 0.087),
  0px 0px 28.8px rgba(0, 0, 0, 0.107),
  0px 0px 43.4px rgba(0, 0, 0, 0.124),
  0px 0px 62.6px rgba(0, 0, 0, 0.14),
  0px 0px 88.6px rgba(0, 0, 0, 0.156),
  0px 0px 125.7px rgba(0, 0, 0, 0.173),
  0px 0px 182.5px rgba(0, 0, 0, 0.193),
  0px 0px 281.3px rgba(0, 0, 0, 0.221),
  0px 0px 500px rgba(0, 0, 0, 0.28);
}

.navbar a {
  float: inline-start;
  display: block;
  color:#ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 2px;
}

.navbar a:hover {
  color: #000000;
}

.navbar .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
  }
}


@media screen and (max-width: 600px) {
  .navbar.responsive a.icon {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
/* Navbar END */
/* Mainframe START */
.title {
    color: #ffffff;
    margin: auto;
    height: auto;
    text-align: center;
    font-size: 50px;
    font-family: 'Bebas Neue', cursive;
    box-sizing: border-box;
    border-radius: 15px 15px 30px 30px;
    margin: 40px 0 70px 0;
    padding: 15px 40px ;
}

.bodytext {
    padding: 50px;
    font-size: 15px;
    text-align: left;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 40px 20px 0 20px;
  color: 	#888888;
}

.container .heading{
  width: 50%;
  padding-bottom: 70px;
}

.container .heading h3{
  font-size: 100px;
  font-weight: bolder;
}

.container .heading h3 span{
  font-weight: 100;
  color: #0047AB;
  text-shadow:#0047AB 0px 0px 54px;
}
/* Mainframe END */
/* Content: Images & Information START */
.container .box{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}

.container .box foodinfobox{
  color: #000000;
  border-radius: 15px 15px 0px 0px;
  padding: 15px;
  margin-bottom: 0px;
  margin-top: 100px;
  background-color: #ffffff;
}

.container .box foodinfobox foodtitle{
  color: #0047AB;
  font-size: xx-large;
  letter-spacing: 3px;
  font-family: 'Bebas Neue', cursive;
  margin-bottom: 5px;
  border-bottom:#0047AB solid 3px;
}

.container .box foodinfobox p {
  padding-bottom: 15px;
}

.container .box foodinfobox foodsubtitle{
  color: #000000;
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 0.5;
  line-height: normal;
}

.container .box votebox{
  color: #000000;
  border-radius: 0px 0px 15px 15px;
  padding: 15px;
  margin-bottom: 0px;
  background-color: #ffffff;
}

.container .btn1{
  padding: 15px 40px ;
  border-radius: 15px 15px 30px 30px;
}

.container .btn1 a{
  color: #0047AB;
  font-size: 1.2em;
  text-decoration: none;
  font-weight: bolder;
  letter-spacing: 3px;
  font-family: 'Bebas Neue', cursive;
  background:
      linear-gradient(
        to right,
        #fc0391,
        #fc0391
      ),
      linear-gradient(
        to right,
        rgba(29, 199, 49, 0.8),
        rgba(29, 199, 49, 0.8)
    );
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
 }

.container .btn1 a:hover {
  background-size: 0 3px, 100% 3px;
}

.container .box .dream{
  display: flex;
  flex-direction: column;
  width: 32.5%;
  padding-top: 100px;
}

.container .box .dream img{
  width: 100%;
  padding-bottom: 0px;
}

.container .btn{
  margin: 40px 0 70px 0;
  background: #B5179E;
  padding: 15px 40px ;
  border-radius: 15px 15px 30px 30px;
  box-shadow:
  2.8px 2.8px 2.2px rgba(0, 0, 0, 0.034),
  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.048),
  12.5px 12.5px 10px rgba(0, 0, 0, 0.06),
  22.3px 22.3px 17.9px rgba(0, 0, 0, 0.072),
  41.8px 41.8px 33.4px rgba(0, 0, 0, 0.086),
  100px 100px 80px rgba(0, 0, 0, 0.12);
}

.container .btn a{
 color: #ffffff;
 font-size: 1.2em;
 text-decoration: none;
 font-weight: bolder;
 letter-spacing: 3px;
 font-family: 'Bebas Neue', cursive;
}

@media only screen and (max-width: 769px){
    .container .box{
   flex-direction: column;
  }

.container .box .dream{
  width: 100%;
}

}

@media only screen and (max-width: 643px){
.container .heading{
  width: 100%;
}

.container .heading h3{
  font-size: 1em;
  color: #ffffff;
}

}

.button {
  display: inline-block;
  box-sizing: border-box;
  width: auto;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: 10px 7px 9px 7px;
  background: #ffffff;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
 
  border-width: 0px;
  border-style: solid;
 
  text-decoration: none;
  cursor: pointer;
}

.button .button-row {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  box-sizing: border-box;
  padding: 5px 10px;
  margin: 0;
}

.button .part-text {
  display: block;
  box-sizing: border-box;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

.button .part-text .label {
  display: block;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 100%;
  text-align: center;
  color: #ffffff;
  letter-spacing: 0em;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
/* Content: Images & Information END */
/* Content: Arrow - Top of page START */
.arrow{
  padding-top: 5px;
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);
}

.arrow span{
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid #0047AB;
  border-right: 5px solid #0047AB;
  transform: rotate(45deg);
  margin: 0px;
  animation: animate 2s infinite;
}

.arrow span:nth-child(2){
  animation-delay: -0.2s;
}

.arrow span:nth-child(3){
  animation-delay: -0.4s;
}

@keyframes animate {
  0%{
      opacity: 0;
      transform: rotate(45deg) translate(-20px,-20px);
  }
  50%{
      opacity: 1;
  }
  100%{
      opacity: 0;
      transform: rotate(45deg) translate(20px,20px);
  }
}
/* Content: Arrow - Top of page END */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}